<html lang="pt">

<body>
  <div class="container" style="padding: 15px; left: 40%; width: 20%; top: 50%; position: relative;" >
    <form [formGroup]="form" (ngSubmit)="salvarForm()">
      <fieldset class="form-row container-fluid mt-1"> 
        <legend><b>Fórmulário de Clientes</b></legend>
        <br>
        <div class="inputBox">
          <input type="text" name="nome" id="nome"  formControlName="nome" class="inputUser" required>
          <label for="nome" class="labelInput">Nome completo</label>
        </div>
        <br><br>
        <div class="inputBox">
          <input type="text" name="email" id="email" formControlName="email" class="inputUser" required>
          <label for="email" class="labelInput">Email</label>
        </div>
        <br><br>
        <div class="inputBox">
          <input type="tel" name="telefone" id="telefone" formControlName="telefone" class="inputUser" required>
          <label for="telefone" class="labelInput" >Telefone</label>
        </div>
        <br><br>

        <div class="inputBox">
          <input type="text" name="sexo" id="sexo" formControlName="sexo" class="inputUser" required>
          <label for="sexo" class="labelInput" >Sexo</label>
        </div>
        
        <br><br>
        <label for="data_nascimento"><b>Data de Nascimento:</b></label>
        <input type="date" name="data_nascimento" formControlName="data" id="data_nascimento" required>
        <br><br><br>
        <div class="inputBox">
          <input type="text" name="cidade" id="cidade" formControlName="cidade" class="inputUser" required>
          <label for="cidade" class="labelInput">Cidade</label>
        </div>
        <br><br>
        <div class="inputBox">
          <input type="text" name="estado" id="estado" formControlName="estado" class="inputUser" required>
          <label for="estado" class="labelInput">Estado</label>
        </div>
        <br><br>
        <div class="inputBox">
          <input type="text" name="endereco" id="endereco" formControlName="endereco" class="inputUser" required>
          <label for="endereco" class="labelInput">Endereço</label>
        </div>
        <br><br>
        <input type="submit"  [disabled]="form.invalid" name="submit" id="submit">
      </fieldset>
    </form>
  </div>
</body>

</html>